fastapi
uvicorn
streamlit
requests
pandas
pypdf
sentence-transformers
faiss-cpu
numpy
python-multipart
groq
google-genai
ragas
langchain-google-genai>=1.0.0
langchain-community>=0.2.0
langchain-google-vertexai>=2.0.0
rank-bm25
cachetools
beautifulsoup4
youtube-transcript-api
psutil
python-dotenv
tabulate
feedparser