fastapi
uvicorn
streamlit
requests
pypdf
sentence-transformers
faiss-cpu
numpy
python-multipart
groq
google-genai
ragas
langchain-google-genai>=1.0.0
rank-bm25
cachetools
beautifulsoup4
youtube-transcript-api
psutil
python-dotenv
